.viewprojects::before {
  content: "\2192";
  font-size: 1.5rem;
  line-height: 2rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}

.viewprojects:hover::before {
  opacity: 1;
  text-indent: 0px;
}

